* {
    font-family: cookie-monster, 'Fuzzy Bubbles';
}


body {
    font-family: cookie-monster;
    margin: 0;
    padding: 0;
    background-color: #fffcfc;
}

@font-face {
    font-family: 'cookie-monster';
    src: url(Cookiemonster-gv11.ttf);
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffdfdf;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
}

input[type="text"] {
    font-size: 16px;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    background-color: #88a8ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.delete-btn {
    background-color: #ff8c8c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Add this CSS to increase the checkbox size */
input[type="checkbox"] {
    accent-color: #88a8ff;
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}

#bears {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    margin-bottom: 0%;
    padding: 0;
}